body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

h1 {
    background-color: #222;
    color: white;
    padding: 30px;
    margin: 0;
}

h2 {
    color: #333;
    margin-top: 30px;
}

p, li {
    color: #555;
    font-size: 16px;
}

ul {
    list-style: none;
    padding: 0;
}
